# Для Django
SECRET_KEY='some_symbols_numbers_letters'

# Для Telegram
TOKEN = 0000000000:AAAAAAAAAAAA-aaaaaaaaaaaaaaaaaaaaa
ADMIN_ID = 0000000000

# Для базы данных
POSTGRES_DB = postgres
POSTGRES_USER = postgres
POSTGRES_PASSWORD = postgres
POSTGRES_HOST = db
POSTGRES_PORT = 5432

# Для сервера
WEB_HOST = 127.0.0.1
WEB_PORT = :81
WEB_PROTOKOL = http://

# Для Yandex GPT
FOLDER_ID = 'aaaaaaa00000aaaaa'
API_KEY = '0000AAa000AA'
