@import '../../style/mixins.scss';


.storybook {
    width: 900px;
    height: 400px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 50px;
    right: 50px;

    @include small {
        display: none;
    }
}

.icon {
    object-fit: contain;
    width: 50px;
    height: 50px;
}

.iconCross {
    object-fit: contain;
    width: 35px;
    height: 35px;
    transition: transform 1s ease;
    transform: rotate(90deg)
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.button {
    background: #FFD133;
    transition: transform 1s linear;
    transform: rotate(30deg);
    position: relative;
}

.button::before {
    content: '';
    position: absolute;
    border: 1px solid #FFD133;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 2s ease-out infinite
}

.chat {
    background: #FFD133;
}

.message {
    transition: transform 1s ease;
    transform: rotate(-30deg)
}

.cross {
    background-color: #d6d6d6;
}


@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}